// Colors
$primary-color: #0a6446;
$black: #000;
$white: #fff;
$gray: #848484;
$border-color:#d8dbdd;
$primary-font: 'butlerbold';
$secondary-font: 'bebas_neue_regular';
$icon-font: 'FontAwesome';
$text-color: $white;
$text-color-dark: #05091D;
$btn-color: #8f2f33;
$body-color: #0c5460;