
{{ if .Params.contact.enable }}
{{ with .Params.contact }}
<div class="contact" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <span>{{ .section | markdownify }}</span>
        </div>
      </div>
      <div class="col-lg-7 ml-auto">
        <div class="text-block">
          <h2><span class="rev">{{ .title | markdownify }}</span></h2>
          <p>{{.content | markdownify}}</p>
        </div>
      </div>
    </div>
    <div class="address">
      <ul class="social-list list-inline">
        {{ range site.Params.social }}
        <li class="list-inline-item">
          <a href="{{ .link | safeURL }}" target="_blank">
            <i class="fa {{ .icon }}"></i>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
{{ end }}
{{ end }}