{{ "<!-- navigation -->" | safeHTML }}
<header class="nav-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">
            {{ if site.Params.logo }}
            <img class="img-fluid" width="{{site.Params.logo_width}}" src="{{ site.Params.logo | absURL}}" alt="{{ site.Title }}">
            {{ else }}
            {{site.Title}}
            {{ end }}
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
              <img src="{{`images/hamburger-icon.png` | absURL}}" class="img-fluid" alt="menu">
            </span>
          </button>
          <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav ml-auto">
              {{ range site.Menus.main }}
              <li class="nav-item">
                <a class="nav-link page-scroll"
                  href="{{if .Pre}}{{.Pre}}{{ .URL }}{{else}}{{.URL | absLangURL}}{{end}}">{{ .Name }}</a>
              </li>
              {{ end }}
            </ul>
            {{ range .Translations }}
            <li class="menu-item">
              <a class="language-link" href="{{ .Permalink | relURL }}">{{ .Title | default .Site.Title }}</a>
            </li>
          {{ end }}
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}